@page "{id}"
@model DigitalForSchool.Pages.User.LessonModel
@{
    ViewData["Title"] = "Урок";
    Layout = "_Layout";
}

<h1>@Model.Lesson.Name</h1>
<div class="iframe_video">
    <iframe src="@Model.Lesson.VideoURL" title="YouTube video" width="80%" height="515" allowfullscreen></iframe>
</div>
<div class="w-auto h-100">
    <p>@Model.Lesson.Description</p>
</div>
<div class="row">
    <a asp-page="/User/Test" asp-route-id="@Model.Id" class="btn btn-primary">Тест</a><a href="@Model.Lesson.Presentation" target="pdf-frame" class="btn btn-primary">Презентация</a>
</div>